<IfModule mod_rewrite.c>
    RewriteEngine On

    # Stop processing if the request is already pointing inside public folder
    RewriteCond %{REQUEST_URI} ^/public/ [NC]
    RewriteRule ^ - [L]

    # Rewrite all requests to the public directory
    RewriteRule ^$ public/ [L]
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
